.search_wrapper {
    width: 200px;
    margin: 20px auto;
    text-align: right;
    font-size: 12px;
}

.choose_citi {
    margin-bottom: 5px;
}

.AutoCompleteText {
    border: solid 1px grey;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
    width: 100%;
    direction: rtl;

    input {
        width: calc(100% - 10px);
        border: none;
        outline: none;
        padding: 10px 5px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: right;
    }
    li {
        padding: 5px;
        border-top: solid 1px grey;
        cursor: pointer;
        &:hover {
            background: #86c1c1;
            color: #fff
        }
    }
}

